.post {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 5px #388e3c;
  width: 70%;
  min-height: fit-content;
  background-color: #c8e6c9;
}

.first {
  margin-top: 16px;
}

.last {
  margin-bottom: 16px;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.avatar {
  background-color: #e8f5e9;
  color: #4caf50;
  text-transform: uppercase;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.username {
  font-weight: bold;
  color: #1b5e20;
  margin: 0;
}

.date {
  color: #2e7d32;
  margin: 4px 0 0;
  font-size: 14px;
}

.image {
  float: left;
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-right: 12px;
  margin-bottom: 8px;
}

.description {
  text-wrap: pretty;
  word-break: break-word;
  margin-top: 0;
}
